# Настройки для babel: какие браузеры поддерживать (в какой стандарт транспилирован код)

# Вроде бы, также можно эти настройки указать в package.json

# Browsers that we support

# При продакшен сборке больше поддержка

[production]
defaults
not IE 11

# В dev-режиме только последние версии браузеров, чтобы сборка проходила быстрее

[development]
last 2 Chrome versions
last 2 Firefox versions
last 1 Safari version
